@font-face {
    font-family: 'High Spirited';
    src: url('High Spirited.ttf') format('truetype');
}

@font-face {
    font-family: 'Mermaid';
    src: url('mermaid/Mermaid1001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('futura/Futura/Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    scroll-behavior: smooth;
}

/* Variables de colores */
:root {
    --color-rosa: #e83e8c;
    /* Rosa */
    --color-rosa-hover: #de91b5;
    /* Rosa */
    --color-violeta: #6b5b95;
    /* Violeta */
    --color-violeta-transparent: #a19ab48f;
    /* Violeta */

    --color-gris-claro: #f4f4f4;
    /* Gris claro */
    --color-texto-principal: #333;
    /* Color de texto principal */
    --color-beige: #f0c987;
    /* Beige */
}

strong {
    color: var(--color-violeta);
}

body {
    margin: 0;
    font-family: 'Futura', sans-serif;
    background-color: var(--color-gris-claro);
    color: var(--color-texto-principal);
    margin-bottom: 0;
}

header {
    width: 100%;
    position: fixed;
    z-index: 5;
    margin: auto;
    background-color: var(--color-violeta-transparent);
    color: #FFF;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

.logo {
    font-family: 'Mermaid', 'High Spirited', cursive;
    font-size: 2em;
    color: var(--color-rosa);
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 15px;
    display: flex;
    transition: max-height 0.3s ease-in-out;
    gap: 70px;
}

.nav-links li {
    margin-bottom: 20px;
}

.nav-links li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hamburger {
    display: none;
    font-size: 2em;
    cursor: pointer;
}

.hero {
    position: relative;
    text-align: center;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(DSC_6466.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 65%;
    color: var(--color-violeta);
    height: 65vh;
}

.hero h1 {
    font-family: 'Mermaid', 'High Spirited', cursive;
    font-size: 3em;
    margin-bottom: 100px;
    color: var(--color-rosa);
    position: relative;
    z-index: 2;
}

.hero p {
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 100px;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

section {
    padding: 50px 20px;
    margin: 80px auto;
}

#definicion {
    max-width: 800px;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 0px 20px;
}

#formacion {
    max-width: 800px;
    margin-bottom: 0px;
    margin-top: 25px;
    padding: 0px 20px;
}

#servicios {
    max-width: 800px;
    margin-bottom: 0px;
    margin-top: 55px;
    padding: 0px 20px;
}

#contacto {
    margin-top: 55px;
    margin-bottom: 0px;
    background-color: #efbff0;
    -webkit-mask-image: -webkit-linear-gradient(transparent, 1%, var(--color-rosa-hover));
    mask-image: linear-gradient(transparent, 1%, var(--color-rosa-hover));
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239649b4' fill-opacity='0.42'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a#link {
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--color-violeta);
    color: #efbff0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

    font-family: 'Mermaid';
    font-size: clamp(1.5rem, 2vw, 2.5vw);
}

#appoint {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #efbff0;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239649b4' fill-opacity='0.42'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

section h2 {
    font-family: 'Mermaid', 'High Spirited', cursive;
    font-size: 2.5em;
    color: var(--color-rosa);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    font-size: 1.1em;
    line-height: 1.6;
    color: #fff;
    background-color: var(--color-rosa-hover);
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
    /* -webkit-mask-image: -webkit-linear-gradient(var(--color-rosa-hover), transparent);
    mask-image: linear-gradient(transparent, 2%, var(--color-rosa-hover)); */
}

footer {
    background-color: var(--color-violeta);
    color: var(--color-gris-claro);
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    /* height: 15vh; */
    bottom: 0;
    /* -webkit-mask-image: -webkit-linear-gradient(var(--color-violeta), transparent);
    mask-image: linear-gradient(transparent, 20%, var(--color-violeta)); */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
}

/* Estilos para la sección de contacto */
.section__title {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-rosa);
}

.desc {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.contact__form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.field--textarea {
    resize: vertical;
}

.fields-requirements {
    font-size: 0.9em;
    color: #666;
    text-align: center;
}

.btn {
    padding: 10px;
    font-size: 1.1em;
    color: #FFF;
    background-color: var(--color-violeta);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-violeta-transparent);
}

.navbar-brand {
    padding-top: 15px;
    font-family: 'Futura', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .navbar-brand {
        padding-top: 20px;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 12vh;
        right: 0;
        background-color: var(--color-violeta-transparent);
        width: 100%;
        text-align: center;
        overflow: hidden;
        z-index: 3;
        max-height: 0;
        transition: max-height 0.3s ease-in-out;
        gap: 15px;
        /* -webkit-mask-image: -webkit-linear-gradient(var(--color-violeta-transparent), transparent);
        mask-image: linear-gradient(var(--color-violeta-transparent), 100%, transparent); */

    }

    .nav-links.expanded {
        max-height: 300px;
    }

    .hamburger {
        display: block;
    }

    .hero p {
        font-size: 0.7rem;
    }
}

/* Otros estilos */
.service-title {
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Futura', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--color-rosa-hover);
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.service-content {
    display: none;
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
    color: var(--color-texto-principal);
}

.service-title::after {
    content: '▶';
    transition: transform 0.3s;
}

.service-title.expanded::after {
    transform: rotate(90deg);
}

.btn-primary {
    background-color: var(--color-rosa);
    border-color: var(--color-rosa);

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--color-rosa-hover);
    /* Verde más oscuro */
}

.banner h1 {
    color: var(--color-texto-principal);
}

#myCarousel {
    min-height: 70vh;
    /* background-color: #6b5b95; */
}

#whoIAm {
    background-image: url(https://angelinanut.github.io/nutricion/angelinanut-slide-1.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#virtual {
    background-image: url(https://angelinanut.github.io/nutricion/angelinanut-slide-3.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#health {
    background-image: url(https://angelinanut.github.io/nutricion/angelinanut-slide-2.webp);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#turnExplanation {
    max-width: 1000px;
    width: 100%;
}

iframe {
    display: flex;
    margin: auto;
    max-width: 1000px;
    min-height: 750px;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin-top: -30px;
}

#root>div>div>div>div>a {
    display: none !important;
}

.about-section {
    background-color: var(--color-violeta);
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.about-content {
    flex: 1;
    color: #f4f4f4;
    padding: 50px 20px;
    margin-right: 20px;
}

.about-content h2 {
    color: #de91b5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about-image {
    flex: 1;
    margin-top: 70px;
    text-align: center;
}

.about-image img {
    max-width: 200px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .about-section {
        flex-direction: column;
        align-items: center;
    }

    .about-content {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: justify;
    }

    .about-image {
        margin-top: -50px !important;
        padding-bottom: 50px;
    }
}

.info-text {
    font-size: 0.7em;
    font-style: italic;
    color: var(--color-violeta);
    ;
    /* Ajusta el color según sea necesario */
    margin-top: 8px;
    /* Espacio entre el botón y el texto */
}